<div class="image__item">
  <div class="image__item-picture">
    <img src="http://lorempixel.com/g/400/200/" alt="{{ model.title }}">
  </div>
  <div class="image__item-content">
    <strong>{{ model.title }}</strong>
  </div>
</div>
